
.hiddenCell{
    display: none !important;
}
.hiddenCell1{
    display: none !important;
}

.toggleColButton{
    background: none;
    width: 20px !important;
    padding: 0;
    padding-bottom: 21px;
    margin-right: 8px;
    text-align: center;
    height: 20px;
    border: 0.1px solid rgb(88, 88, 88);
    color: rgb(85, 85, 85);
    text-align: center;
    border-radius: 5%;
    user-select: none;
    display: inline-block;
}
.toggleColButton.checked{
   
}

.sticky-container {
    width: 100%;
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 15px;
}
.accounting-table{
    font-size: small;
}

.accounting-table tr{
    height: 14px;
    white-space: nowrap;
}

thead{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

table { 
    border-collapse: separate !important;
    border-spacing: 0px !important;
}

th{
    position: relative;
}

thead, thead tr, thead th{
    border: 0.1px solid rgb(179, 183, 150);
}
.accounting-table td{
    border: 0.1px solid rgb(207, 207, 207);
    padding:0;
}

.accounting-table th{
    padding: 8px;
}

td>*{
    overflow-x: hidden;
    min-width: 100%;
    padding: 4px;
    min-height: 100%;
}
td div * {
    display: none
}

.accounting-table tr:nth-child(even) td {
    background: #fafafa;
}
.accounting-table tr:nth-child(odd) td {
    background: #fff;
}

.accounting-table thead tr:nth-child(1) th{
    background: #dfedc6;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
}
.accounting-table thead tr:nth-child(2) th{
    background: rgb(219, 223, 185);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
}

tr td:first-child {
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.15);
    position: sticky;
    left: 0px;
    z-index: 1;
}

tr:first-child>th:first-child {
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.15);
    position: sticky;
    background-color: #dfedc6;
    left: 0px;
    z-index: 2;
}

th > .resizeTrigger {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    right: -8px;
    top: 0;
    height: 100%;
    background: inherit;
    cursor: ew-resize;
    z-index: 1 !important;
    background-color: aquamarine;
    opacity: 0;
  }

  th > .resizeTrigger:hover{
    opacity: 0.5;
  }