body > .container {
    max-width: none;
}


.toggleColButton{
    background: none;
    width: 20px !important;
    padding: 0;
    padding-bottom: 21px;
    margin-right: 8px;
    text-align: center;
    height: 20px;
    border: 0.1px solid rgb(88, 88, 88);
    color: rgb(85, 85, 85);
    text-align: center;
    border-radius: 5%;
    user-select: none;
    display: inline-block;
}
.toggleColButton.checked{
    background-color: rgb(234, 236, 217);
}

.sticky-container {
    width: 100%;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 15px;
    
}
.sticky-table{
    font-size: small;
}


.sticky-table tr{
    height: 14px;
    white-space: nowrap;
}


.sticky-table,
.sticky-table th{

    justify-content: center;
    border-collapse:separate;
    border-spacing: 0;
    border: 0.1px solid rgb(179, 183, 150);
}
.sticky-table td{
    border-collapse:collapse;
    border: 0.1px solid rgb(207, 207, 207);
}

.sticky-table th,
.sticky-table td :not(.editable){
    padding: 8px;
}

.editable{
    padding: 0;
    background-color: aquamarine;
}
.cellText{
    overflow-x: hidden;
    min-width: 100%;
}

    .sticky-table tr:nth-child(even) td {
        background: #fafafa;
    }

    .sticky-table tr:nth-child(odd) td {
        background: #fff;
    }

    .sticky-table thead,.sticky-table thead tr:nth-child(1){
        position: sticky;
        top: 0px;
        background: #dfedc6;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }
    .sticky-table thead tr:nth-child(2){
        position: sticky;
        top: 0px;
        background: rgb(219, 223, 185);
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }

tr td:first-child {
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.15);
    position: sticky;
    left: 0px;
    z-index: 9;
}

th{
    position: relative;
}

th > .resizeTrigger {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    right: -8px;
    top: 0;
    height: 100%;
    background: inherit;
    cursor: ew-resize;
    z-index: 20;
    opacity: 0.1;
  }

  th > .resizeTrigger:hover{
    background-color: aquamarine;
  }